form(method="post", action=`/expenses/${expense._id}/receipts`, role="form")
  input(type='hidden', name='_csrf', value=csrf_token)
  
  .form-group
    label(for='purchasedDate') Date on receipt
    input#email.form-control(type='date', placeholder='date' name='purchasedDate')

  .form-group
    label(for='vendor') Vendor
    input#email.form-control(type='text', name='vendor' placeholder='I.e: Walmart')

  .form-group
    label(for='itemsPurchased') Item(s) purchased
    textarea.form-control(type='text', rows="2", name="itemsPurchased", placeholder='')

  .form-group
    label(for='totalCost') Total cost
    input#email.form-control(type='float', name='totalCost' placeholder='')
  
  .form-group
    label(for='event') Event
    input#email.form-control(type='text', name='event' placeholder='I.e: Pinewood Derby')

p. 
New line

  button.btn.btn-primary(type='submit') Add receipt
